<div class="box">
  <div class="box-header with-border">
  </div>
  <div class="box-body">      
    <div class="row">
      <div class="col-lg-12 support">
        <h3 class="text-center">Alunos do </h3>
        <h1 class="">
          <img class="ipt center-block" alt="" src="./img/logoipt.png"> 
        </h1>
        <h3 class="text-center">Mestrado em Engenharia Informática - Internet das Coisas</h3>
      </div>
    </div>
  </div><!-- /.box-body -->
  <div class="box-footer">
  </div><!-- /.box-footer-->
</div><!-- /.box -->
