<!-- Info boxes -->
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div  class="box-header with-border">
        <h3 class="box-title">
          
        </h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row with-border">
          Dashboard View
        </div>
      </div><!-- /.box-body --> 
      <div class="box-footer">
      </div> 
    </div>    

    
  </div>
</div>


<div class="modal modal-warning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <!--  data-toggle="tooltip" title="Collapse" data-widget="collapse" -->
        <button type="button" class="close btn-modal" data-event="close"  data-toggle="tooltip" title="Close Warning" data-dismiss="modal" aria-label="Close" data-widget="close"><span aria-hidden="true">×</span></button>
        <h2 class="modal-title icon fa  fa-info-circle"> Warning</h2>
      </div>
      <div class="modal-body">
        <p><b>Careful!</b><br>You have unsaved settings!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left btn-modal" data-event="close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline btn-modal" data-event="notsave" data-dismiss="modal">Dont save settings and continue</button>
        <button type="button" data-event="save" class="btn btn-outline pull-right btn-modal">Save settings and continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
