<div class="row">
  <div class="col-md-12">
    <div class="box">
     <div  class="box-header with-border"><h2 class="box-title">Dashboard  </h2>
     </div>
     <div class="box-body">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <div id="codeHolder"></div>
              <div id="codeHolderLegend"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="verbHolder"></div>
              <div id="verbHolderLegend"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="cacheHolder"></div>
              <div id="cacheHolderLegend"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="bwHolder"></div>
              <div id="bwHolderLegend"></div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-12">
              <div id="timesHolder"></div>
              <div id="timesHolderLegend"></div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-default btn-block btnClear">Clear</button>
              <div class="form-group">
                <select class="select-hostname selectpicker show-menu-arrow form-control" data-live-search="true" title="Select hostname." data-actions-box="true">
                  <option selected="selected">All</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="requestsGauge"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="bwGauge"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="errorsGauge"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="containerG5">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="box-footer">
      <strong><a href="https://github.com/apocas/dashode2" target="_blank"><i class="fa fa-github-alt"> </i> dashode - Github</strong> <p>Pedro Dias - <a href="https://twitter.com/pedromdias">@pedromdias</a></p>
    </div>
  </div>
</div>
</div>