<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title"><i class="fa fa-server"></i> Create or Edit Server Settings</h2>
            </div>
            <div class="box-body">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon select-instance-list">Select Instance:</label>
                                <select class="select-instance show-menu-arrow form-control selectpicker show-tick" data-live-search="true" title="Select Instance.">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group upstream-list">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12 upstream-settings">
                        <img class="center-block" alt="" src="./img/Nginx-Logo.png" style="width: 15%; height: auto">
                        <h1 class="text-center" style="text-shadow: -4px 4px hsla(0, 0%, 70%, .4),-3px 3px hsla(0, 0%, 60%, .2), -2px 2px hsla(0, 0%, 70%, .2), -1px 1px hsla(0, 0%, 70%, .2), 0px 0px hsla(0, 0%, 50%, .5), 1px -1px hsla(0, 0%, 30%, .6), 2px -2px hsla(0, 0%, 30%, .7), 3px -3px hsla(0, 0%, 32%, .8), 4px -4px hsla(0, 0%, 30%, .9), 5px -5px hsla(0, 0%, 30%, 1.0); font-family: 'Permanent Marker', cursive;">Create or Edit Upstream Settings</h1>
                        <hr class="soften" />
                    </div>
                </div>
            </div>
            <div class="box-footer with-border ">
            </div>
        </div>
    </div>
</div>