<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title"><i class="fa fa-cloud"></i> Settings Instance</h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">Instance Name:</label>
                            <input class="instance-name valid-input form-control" data-typevalue="instance-name" type="text" placeholder="" value="">
                            <span class="input-group-addon color-red" data-toggle="tooltip" title="Insert a valid instance name."><i class="icon fa fa-close"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <label class="input-group-addon">Template:</label>
                            <div class="form-control">
                                <div class="btn-group select-template" data-toggle="buttons">
                                </div>
                            </div>
                            <span class="input-group-addon color-red " data-toggle="tooltip" title="Insert Template."><i class="icon fa fa-close"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label class="input-group-addon">CPU:</label>
                            <div class="form-control">
                                <input type="text" data-slideid="slider-cpu-size" class="slider-cpu-size span2" value="0.1" data-slider-min="0.1" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                            </div>
                            <label class="input-group-addon slider-cpu-size-value">0.1</label>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="input-group">
                            <label class="input-group-addon">Ram Size:</label>
                            <div class="form-control">
                                <input type="text" data-slideid="slider-ram-size" class="slider-ram-size span2" value="1" data-slider-min="0.25" data-slider-max="8" data-slider-step="0.25" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                            </div>
                            <label class="input-group-addon slider-ram-size-value">1 Gb</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer with-border ">
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-12 ">
        <div class="box ">
            <div class="box-header with-border ">
                <div class="box-tools pull-right ">
                    <button class="btn btn-box-tool" data-toggle="tooltip " title="Collapse " data-widget="collapse ">
                        <i class="fa fa-minus "></i>
                    </button>
                </div>
            </div>
            <div class="box-body instance-btn">

            <!-- 
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block create-instance">
                        <label>Create Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Resize Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Delete Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-block">
                        <label>Start Instance</i>
                        </label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Stop Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Pause Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Restart Instance</label>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button " class="btn btn-default btn-block">
                        <label>Resize Instance</label>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>