
<div class="well well-sm" data-location="">
   <div class="box">
      <div  class="box-header with-border">
         <h4 class="box-title">
          Location Settings
         </h4>
      </div>
      <div class="box-body">
         <div class="col-md-11 vcenter">     
            <div class="box thumbnail no-margin-b collapsed-box">
               <div  class="box-header">
                  <div class=" display-start-elemet">
                     <input  class="control-cache-ext btn-on-off" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success">
                     <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                     <i class="fa fa-minus"></i>
                     </button>
                  </div>
                  <h5 class="box-title display-end-elemet">
                     Config Cache Static Files With Extensions
                  </h5>
               </div>
               <div class="box-body">
                  <div class="row with-border">
                     <div class="col-md-1">
                        <label>Cache Files:</label>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <select class="select-extensao selectpicker form-control valid-input" multiple data-live-search="true" title="Select extensions to Cache."  data-actions-box="true">
                           </select>
                        </div>
                     </div>
                     <div class="col-md-1">
                        <span class="whith10p color-red" data-toggle="tooltip" title="Select one or more options.">
                        <i class="icon fa fa-check color-green"></i>
                        </span>
                     </div>
                     <div class="col-md-1">
                        <label>Cache Time:</label>
                     </div>
                     <div class="col-md-2"> 
                        <input type="text" data-extid="slider-cache-ext" class="slider-cache-ext span2" value="1" data-slider-min="1" data-slider-max="60" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                     </div>
                     <div class="col-md-1"> 
                        <label class="slider-cache-ext-value">1</label>
                     </div>
                     <div class="col-md-2">
                        <select class="select-cache-ext-time selectpicker form-control" data-actions-box="true">
                           <option value="s">Segundos</option>
                           <option value="m">Minutos</option>
                           <option value="h">Horas</option>
                           <option value="d">Dias</option>
                           <option value="w">Semanas</option>
                           <option value="M">Meses</option>
                           <option value="y">Anos</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box thumbnail no-margin-b collapsed-box">
               <div  class="box-header">
                  <div class=" display-start-elemet">
                     <input class="control-cache-path btn-on-off" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success">
                     <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                     <i class="fa fa-minus"></i>
                     </button>
                  </div>
                  <h5 class="box-title display-end-elemet">
                     Config Cache Path
                  </h5>
               </div>
               <!-- /.box-header -->
               <div class="box-body">
                  <div class="row with-border">
                     <div class="col-md-1">
                        <label>Cache Files:</label>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <select class="select-path selectpicker form-control valid-input" multiple data-live-search="true" title="Select extensions to Cache."  data-actions-box="true">
                           </select>
                        </div>
                     </div>
                     <!-- /.box-body --> 
                     <div class="col-md-1">
                        <span class="whith10p color-red" data-toggle="tooltip" title="Select one or more options.">
                        <i class="icon fa fa-check color-green"></i>
                        </span>
                     </div>
                     <!-- /.box-body --> 
                     <div class="col-md-1">
                        <label>Cache Time:</label>
                     </div>
                     <div class="col-md-2"> 
                        <input type="text" data-extid="slider-cache-path" class="slider-cache-path span2" value="1" data-slider-min="1" data-slider-max="60" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                     </div>
                     <div class="col-md-1"> 
                        <label class="slider-cache-path-value">1</label>
                     </div>
                     <div class="col-md-2">
                        <select class="select-cache-path-time selectpicker form-control" data-actions-box="true">
                           <option value="s">Segundos</option>
                           <option value="m">Minutos</option>
                           <option value="h">Horas</option>
                           <option value="d">Dias</option>
                           <option value="w">Semanas</option>
                           <option value="M">Meses</option>
                           <option value="y">Anos</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>

            <div class="box thumbnail no-margin-b">
               <div  class="box-header">
               <div class="row with-border location-path">
                  <div class="col-md-3">
                     <label><h4>Insert Location Path:</h4></label>
                  </div>
                  <div class="col-md-8">                        
                     <input class="location-input width100 vcenter valid-input form-control" data-typevalue="location-path" type="text" placeholder="/" value="" data-mask="/">
                  </div>
                  <div class="col-md-1">
                     <span class="whith10p color-red" data-toggle="tooltip" title="Select one or more options.">
                     <i class="icon fa fa-close color-red"></i>
                     </span>
                  </div>
               </div>
                  <h5 class="box-title display-start-elemet">
                     Add Options:
                  </h5>
               </div>
               <div class="box-body">                     
                  
                  <div class="row with-border">
                     <div class="col-md-2">
                        <label>Select Option:</label>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group">
                           <select class="select-opt-1 selectpicker form-control valid-input" multiple data-live-search="true" title="Select extensions to Cache."  data-actions-box="true">
                           </select>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <input class="text-opt-1 width100 vcenter valid-input form-control" data-typevalue="location-option" type="text" placeholder="" value="" data-mask="">
                     </div>
                     <div class="col-md-1">
                        <span class="whith10p color-red" data-toggle="tooltip" title="">
                        <i class="icon fa fa-close"></i>
                        </span>
                     </div>
                     <div class="col-md-1">
                        <h4>
                          <span class="whith10p" data-toggle="tooltip" title="Add new row.">
                           <i class="fa fa-plus-circle"></i>
                          </span>
                        </h4>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-1 width10pv2 vcenter">
            <h2>
              <span class="remove-row whith10p text-center" data-toggle="tooltip" title="Remove this location..">
               <i class="icon fa fa-times-circle"></i>
              </span>
            </h2>
         </div>
      </div>
   </div>
</div>