<div class="well well-sm" data-location="">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">
           Location Settings
        </h4>
        </div>
        <div class="box-body">
            <div class="col-md-11 vcenter">
                <div class="box thumbnail no-margin-b collapsed-box">
                    <div class="box-header">
                        <div class=" display-start-elemet">
                            <input class="control-cache-ext btn-on-off" type="checkbox" data-toggle="tooltip" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success" title="Remove this location..">  <!-- data-toggle="tooltip"  -->
                            <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <h5 class="box-title display-end-elemet">Config Cache Static Files With Extensions</h5>
                    </div>
                    <div class="box-body">
                        <div class="row with-border">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="add-select-extensao input-group-addon">Cache Files:</label>
                                    
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Select one or more options."><i class="icon fa fa-close color-red"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="input-group-addon">Cache Time:</label>
                                    <div class="form-control">
                                        <input type="text" data-extid="slider-cache-ext" class="slider-cache-ext span2" value="1" data-slider-min="1" data-slider-max="60" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <label class="input-group-addon slider-cache-ext-value">1</label>
                                    <select class="input-group-addon select-cache-ext-time selectpicker  show-menu-arrow form-control" data-actions-box="true">
                                        <option value="s">Segundos</option>
                                        <option value="m">Minutos</option>
                                        <option value="h">Horas</option>
                                        <option value="d">Dias</option>
                                        <option value="w">Semanas</option>
                                        <option value="M">Meses</option>
                                        <option value="y">Anos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box thumbnail no-margin-b collapsed-box">
                    <div class="box-header">
                        <div class=" display-start-elemet">
                            <input class="control-cache-path btn-on-off" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success">
                            <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <h5 class="box-title display-end-elemet">Config Cache Path</h5>
                    </div>
                    <div class="box-body">
                        <div class="row with-border" data-option="">
                            <div class="col-md-7">
                                <div class="input-group">
                                    <label class="input-group-addon">Path Files:</label>
                                    <input class="initPathText valid-input form-control" data-typevalue="location-path-files" type="text" placeholder="Path Files to Cache" value="" data-mask="">
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Insert a valid upstream name."><i class="icon fa fa-close color-red"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="input-group-addon">Cache Files:</label>
                                    <select class="select-path selectpicker show-menu-arrow form-control" multiple data-live-search="true" title="Select extensions to Cache." data-actions-box="true">
                                    </select>
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Select one or more options."><i class="icon fa fa-check color-green"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="input-group-addon">Cache Time:</label>
                                    <div class="form-control">
                                        <input type="text" data-extid="slider-cache-path" class="slider-cache-path span2" value="1" data-slider-min="1" data-slider-max="60" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                    <label class="input-group-addon slider-cache-path-value">1</label>
                                    <select class="input-group-addon select-cache-path-time selectpicker form-control" data-actions-box="true">
                                        <option value="s">Segundos</option>
                                        <option value="m">Minutos</option>
                                        <option value="h">Horas</option>
                                        <option value="d">Dias</option>
                                        <option value="w">Semanas</option>
                                        <option value="M">Meses</option>
                                        <option value="y">Anos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box thumbnail no-margin-b collapsed-box">
                    <div class="box-header">
                        <div class=" display-start-elemet">
                            <input class="control-upstream btn-on-off" type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success">
                            <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <h5 class="box-title display-end-elemet">Config Upstream</h5>
                    </div>
                    <div class="box-body">
                        <div class="row with-border">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-addon">Upstream Name:</label>
                                    <input class="server-upstream-name valid-input form-control" data-typevalue="server-upstream-name" type="text" placeholder="Upstream Name" value="" data-mask="">
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Insert a valid upstream name."><i class="icon fa fa-close color-red"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="option-list-upstream box-body" data-container="upstream">
                        </div>
                    </div>
                </div>
                <div class="box thumbnail no-margin-b">
                    <div class="box-body">
                        <div class="row with-border location-path">
                            <div class="col-md-12">
                                <div class="input-group input-group-lg">
                                    <label class="input-group-addon">Insert Location Path:</label>
                                    <input class="location-input valid-input form-control" data-typevalue="location-path" type="text" placeholder="/" value="" data-mask="/">
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Select one or more options."><i class="icon fa fa-close color-red"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <h5 class="box-title display-start-elemet">Add Options:</h5>
                    </div>
                    <div class="option-list-location box-body" data-container="location">
                    </div>
                </div>
            </div>
            <div class="col-md-1 width10pv2 vcenter">
                <span class="remove-row whith10p text-center" data-toggle="tooltip" title="Remove this location.."><h2><i class="icon fa fa-times-circle"></i></h2></span>
            </div>
        </div>
    </div>
</div>
</div>
