<div id="div-login-page">
  <div class="login-box">
    <div class="login-logo">
      <img alt="" src="./img/Nginx-Logo.png" style="width: 35%; height: auto; margin-top: 1%">
      <h3 class="text-center" style="
      text-shadow: -4px 4px hsla(0, 0%, 70%, .4),
      -3px 3px hsla(0, 0%, 60%, .2),
      -2px 2px hsla(0, 0%, 70%, .2),
      -1px 1px hsla(0, 0%, 70%, .2),
      0px 0px hsla(0, 0%, 50%, .5),
      1px -1px hsla(0, 0%, 30%, .6),
      2px -2px hsla(0, 0%, 30%, .7),
      3px -3px hsla(0, 0%, 32%, .8),
      4px -4px hsla(0, 0%, 30%, .9),
      5px -5px hsla(0, 0%, 30%, 1.0); font-family: 'Permanent Marker', cursive;">Config Tool
    </h3>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form id="login-form" action="InicioView" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-6">
          <div class="checkbox icheck">
            <label>
              <input id="rememberme" type="checkbox"> Remember Me
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button id="btnLogIn" type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div><!-- /.col -->
      </div>
    </form>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
</div>

<div id="login-error" class="col-md-8 my-model-hide">
  <div class="box box-default">
    <div class="box-body">
      <div class="alert alert-danger alert-dismissable">
        <h3><i class="icon fa fa fa-ban"></i> Invalid Login!</h3>
        <h4>Wrong Credentials</h4>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>->