<div class="row with-border" data-option="">
    <div class="col-md-2">
        <label>Select Option:</label>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <select class="select-opts-location show-menu-arrow selectpicker" data-live-search="true" title="Select option.">
            </select>
            <input class="text-opt width100 vcenter form-control" type="text" placeholder="" value="" data-mask="">
            <span class="input-group-addon" data-toggle="tooltip" title="Select and insert your option.">
            <i class="icon fa"></i>
        </span>
        </div>
    </div>
    <div class="col-md-1">
        <h4>
            <span class="option-add whith10p" data-toggle="tooltip" title="Add new row.">
                <i class="fa fa-plus-circle"></i>
            </span>
        </h4>
    </div>
</div>
