<!-- Info boxes -->
<div class="row">
  <div class="col-md-12">
    <div class="box">  
      <div class="box">
        <div  class="box-header with-border">
          <h3 class="box-title">
            <i class="fa fa-server"></i> 
            Config Host
          </h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row with-border">
            <div class="col-md-1">
              <label>Hostname:</label>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input id="host-name" class="width100 valid-input form-control" data-typevalue="host-name" type="text" placeholder="hostname" value="" data-inputmask="'alias': 'Hostname'" data-mask=""  >
              </div>
            </div><!-- /.box-body --> 
            <div class="col-md-1">
              <span class="whith10p color-red" data-toggle="tooltip" title="Inseert a valid name server.">
                <i class="icon fa fa-close"></i>
              </span>
            </div><!-- /.box-body --> 
            <div class="col-md-1">
              <label>Host Port</label>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input id="host-port" class="width100 valid-input form-control" data-typevalue="host-port" type="text" placeholder="3000" value="3000">
              </div>
            </div><!-- /.box-body --> 
            <div class="col-md-1">
              <span class="whith10p color-red" data-toggle="tooltip" title="Insert a valid port namber.">
                <i class="icon fa fa-close"></i>
              </span>
            </div><!-- /.box-body --> 
          </div>
        </div><!-- /.box-body --> 
        <!-- <div class="box-footer">
        </div>  -->
      </div>    

      <div class="box">
      <div  class="box-header with-border">
          <h3 class="box-title display-start-elemet">
            Config Cache
          </h3>
          <div class="display-end-elemet">
            <input id="control-cache" class="btn-on-off" checked type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-size="small" data-onstyle="success">
            <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div><!--  -->
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row with-border">
            <div class="col-md-1">
              <label>Cache Files:</label>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <select id="select-extensao" class="selectpicker form-control" multiple data-live-search="true" title="Select extensions to Cache."  data-actions-box="true">
                </select>
              </div>
            </div><!-- /.box-body --> 
            <div class="col-md-1">
              <span class="whith10p color-red" data-toggle="tooltip" title="Select one or more options.">
                <i class="icon fa fa-close"></i>
              </span>
            </div><!-- /.box-body --> 
            <div class="col-md-1">
              <label>Cache Time:</label>
            </div>
            <div class="col-md-4"> 
              <input id="slider-cache" type="text" class="span2" value="1" data-slider-min="1" data-slider-max="5400" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
            </div>
            <div class="col-md-1"> 
              <label id="slider-cache-value" data-sliderValue="1">0h 00m 01s</label>
            </div>
          </div>
        </div>
        <!-- <div class="box-footer">
        </div>    -->
      </div>    
    </div>   
  </div>
</div>


<div class="modal modal-warning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <!--  data-toggle="tooltip" title="Collapse" data-widget="collapse" -->
        <button type="button" class="close btn-modal" data-event="close"  data-toggle="tooltip" title="Close Warning" data-dismiss="modal" aria-label="Close" data-widget="close"><span aria-hidden="true">×</span></button>
        <h2 class="modal-title icon fa  fa-info-circle"> Warning</h2>
      </div>
      <div class="modal-body">
        <p><b>Careful!</b><br>You have unsaved settings!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left btn-modal" data-event="close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline btn-modal" data-event="notsave" data-dismiss="modal">Dont save settings and continue</button>
        <button type="button" data-event="save" class="btn btn-outline pull-right btn-modal">Save settings and continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
