<!-- sidebar: style can be found in sidebar.less -->
<!-- Sidebar user panel -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">Menu</li>
		<li class="active">
			<a class="select-item-menu" data-nome="Inicio" href="">
				<i class="fa fa-home"></i>
				<span>Main Page</span>
			</a>
		</li>
		<li class="">
			<a class="select-item-menu" data-nome="Dashboard" href="#">
				<i class="fa fa-dashboard"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li class="">
			<a class="select-item-menu" data-nome="InstanceServer" href="#">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<span>Create / Edit Instance Settings</span>
			</a>
		</li>
		<li class="">
			<a class="select-item-menu" data-nome="EditSettings" href="#">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<span>Create / Edit Server Settings</span>
			</a>
		</li>
		<li class="">
			<a class="select-item-menu" data-nome="Terminal" href="#">
				<i class="fa fa-terminal"></i>
				<span>Terminal</span>
			</a>
		</li>
		<li>
			<a class="select-item-menu" data-nome="About" href="">
				<i class="fa  fa-ioxhost"></i>
				<span>About</span>
			</a>
		</li>
	</ul>
</section>
