<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title"><i class="fa fa-server"></i> Settings Upstream</h2>
            </div>
            <div class="box-body">
                <div class="box thumbnai">
                    <div class="box-header">
                        <div class=" display-start-elemet">
                            <button class="btn btn-box-tool" style="display: none" data-toggle="tooltip" title="Collapse" data-widget="collapse" data-class="quick">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <h5 class="box-title display-end-elemet">Config Upstream</h5>
                    </div>
                    <div class="box-body">
                        <div class="row with-border">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-addon">Upstream Name:</label>
                                    <input class="upstream-name valid-input form-control" data-typevalue="upstream-name" type="text" placeholder="Upstream Name" value="" data-mask="">
                                    <span class="input-group-addon color-red" data-toggle="tooltip" title="Insert a valid upstream name."><i class="icon fa fa-close color-red"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="option-list-upstream box-body" data-container="upstream">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-12 ">
        <div class="box ">
            <div class="box-header with-border ">
                <div class="box-tools pull-right ">
                    <button class="btn btn-box-tool" data-toggle="tooltip " title="Collapse " data-widget="collapse ">
                        <i class="fa fa-minus "></i>
                    </button>
                </div>
            </div>
            <div class="box-body upstream-btns">  
            </div>
        </div>
    </div>
</div>
